{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
<nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item ml-0">
                <h4 class="mb-0">Profile</h4>
            </li>
            <li class="nav-item">
                <div class="d-flex align-items-baseline">
                    <p class="mb-0">Dashboard</p>
                    <i class="typcn typcn-chevron-right"></i>
                    <p class="mb-0">Profile</p>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-search d-none d-md-block mr-0">
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-12">
        <div class="card card-box">
            <div class="card-header">Personal Info</div>
            <div class="card-body">
                <form class="form form-horizontal" method="POST">
                    <input type="hidden" value="{{ user.id }}" name="user_id">

                    <div class="row">
                        <div class="col-md-4">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="first-name" class="form-control" name="fname"
                                placeholder="First Name" value="{{ user.fname }}">
                        </div>
                        <div class="col-md-4">
                            <label>Middle Name</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="middle-name" class="form-control" name="mname"
                                placeholder="Middle Name" value="{{ user.mname }}">
                        </div>
                        <div class="col-md-4">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="last-name" class="form-control" name="lname" placeholder="Last Name"
                                value="{{ user.lname }}">
                        </div>
                        <div class="col-sm-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Save Changes</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}